################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WindowsMessageReceiver/.vs/WindowsMessageReceiver/v15
/WindowsMessageReceiver/.vs/WindowsMessageReceiver/v15/.suo
